<div fxLayout="row" fxLayoutAlign="space-around center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/awsRekognitionPhotoAlbum/images/all">Aws
      Photo Album</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/awsRekognitionPhotoAlbum/images/all">All</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Load by label
          </a>
          <div class="dropdown-menu active"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"
              href="/awsRekognitionPhotoAlbum/images/car">Cars</a>
            <a class="dropdown-item"
              href="/awsRekognitionPhotoAlbum/images/face">Faces</a>
            <a class="dropdown-item"
              href="/awsRekognitionPhotoAlbum/images/nature">Nature</a>
            <a class="dropdown-item"
              href="/awsRekognitionPhotoAlbum/images/watch">Watches</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu active"
            aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"
              href="/awsRekognitionPhotoAlbum/uploadImage">Upload
              image</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a role="button" class="btn btn-outline-secondary"
              href="/awsRekognitionPhotoAlbum/user/signup">SignUp</a>
          </li>
          <li class="nav-item active">
            <a role="button" class="btn btn-outline-secondary"
              href="/awsRekognitionPhotoAlbum/user/signin">SignIn</a>
          </li>
          <!-- <li class="nav-item active">
            <a role="button" class="btn btn-outline-secondary"
              href="/awsRekognitionPhotoAlbum/user/LogOut">LogOut</a>
          </li> -->
        </ul>
      </form>
    </div>
  </nav>
</div>