<div>
    <a class="btn btn-outline-secondary" *ngFor="let label of visibleLabels"
        href="/awsRekognitionPhotoAlbum/images/{{label}}"
        role="button">{{label}}</a>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <figure *ngFor="let image of visibleImages">
        <a href="{{image.Image}}" target="_blank">
            <img src="{{image.Image}}" width="300px" height="250px"
                class="gallery__image" />
        </a>
        <figcaption *ngFor="let label of image.Labels">{{label.Name}}</figcaption>
        <button class="btn btn-outline-secondary delete"
            (click)="deleteObjectById(image._id)">Delete</button>
    </figure>
</div>